/*----------------------------------
  General Formatting
----------------------------------*/
* {
  margin: 0 auto;
  box-sizing: border-box;
}


#mainCalc {
  height: 500px;
  width: 370px;
  margin: 50px auto;
  text-align: center;
  border: 5px solid black;
  border-radius: 5%;
  background: limegreen;
}

#calcName {
  height: 55px;
  padding-top: 15px;
}

#innerCalc {
  height: 400px;
  width: 300px;
  margin-bottom: 25px;
}

#screen {
  margin-bottom: 20px;
  height: 100px;
  background: #fff;
  border: 3px solid black;
  padding-right: 10px;
  text-align: right;
}

#upperScreen {
  height: 60px;
  padding-top: 20px;
}

#lowerScreen {
  height: 40px;
}

#keypad {
  height: 300px;
}

.key {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 71px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5%;
  background: purple;
  color: #fff;
}

.key:hover {
  cursor: pointer;
}

.key p {
  padding-top: 12px;
  font-family: 'Lakki Reddy', cursive;
  font-size: 22px;
}


#equalKey {
  height: 110px;
  float: right;
  margin-left: 3px;
  margin-right: 1px;
}

#equalKey p {
  padding-top: 42px;
}

#key0{
  width: 147px;;
  float: left;
}

#decimalKey{
  margin-left: 5px;
  float: left;
}
